body
{
    background-size: cover;
}

h1
{
    width: 100%;
    margin: 0px;
    font-size: 20px!important;
}

#input
{
    width: 350px;
}

canvas
{
    
    border-style: ridge;
    border-radius: 10px;
    box-shadow: 20px 5px 20px black;
}